@media (min-width:1024px) {
    .container {
        margin-top: 136px;
        margin-left: 90px;
        margin-right: 170px;
        width: 1180px;
    }

    .line {
        height: 1px;
        width: 40px;
        background-color: #222222;
        position: absolute;
        top: 17px;
    }

    .outlineText {
        color: transparent;
        -webkit-text-stroke: 1px black;
    }

    .container_text {
        font-size: 32px;
        display: flex;
        font-family: 'Gilroy-Bold', sans-serif;
        position: relative;
    }

    .container_text p {
        margin-left: 80px;
    }

    .contacts_container {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
        row-gap: 48px;
        margin-top: 48px;
        width: 100%;
        flex: 2;
        height: min-content;
    }

    .text {
        font-size: 14px;
        font-family: 'Gilroy-Bold', sans-serif;
    }

    .description {
        font-family: 'Gilroy-Regular';
        font-size: 13px;
        color: #222222;
    }

    .description_container {
        display: flex;
        padding-left: 80px;
    }

    .label {
        font-family: 'Gilroy-Regular';
        font-size: 9px;
    }

    input::placeholder {
        color: #909090;
        font-family: 'Gilroy-Regular';
        font-size: 13px;
    }

    input:focus {
        border-bottom: 1px solid #EBEBEB;
        outline: none;
    }

    input {
        border: none;
        border-bottom: 1px solid #EBEBEB;
        padding-bottom: 7px;
    }

    .questions_container {
        flex: 1;
    }

    form {
        margin-top: 25px;
        margin-bottom: 30px;
    }

    .input_wrapper {
        display: flex;
        flex-direction: column;
        gap: 3px;
        margin-top: 20px;
    }
}